* {
  margin: 0;
  padding: 0;
}
body {
  /* Ortalar */
  background-origin: border-box;
  background-color: lightslategrey;
}
.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

main {
  background-image: url("background.jpg");
  background-size: cover;
  min-height: 85vh;
  margin: 10px 10%;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.container {
  padding: 20px;
  background-color: rgba(117, 117, 117, 0.7);
  min-height: inherit;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}